services:
  - type: web
    name: fitness-tracker-api
    env: node
    plan: free
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
      - key: MONGO_URI
        sync: false  
      - key: DB_NAME
        value: fitness_tracker
      - key: JWT_SECRET
        sync: false  
